.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(57, 55, 55);
    font-size: 18px;
    font-weight: 600;
    margin: 40px 100px;
    text-transform: capitalize;
}