@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.newcollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    font-family: "Poppins",sans-serif;
}

.newcollections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.newcollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 10px;
}
